table{
    border:2px solid navy;
    
}
.operator{
border: 5px solid navy;
width: 49px }
.button {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    background:white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background: -moz-linear-gradient(top, white,white);
    background: linear-gradient(to bottom, white, white);
    font: normal normal bold 20px arial;
    color: black;
    text-decoration: none;
}
.button1 {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    background:lightblue;
    background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(lightblue));
    background: -moz-linear-gradient(top, lightblue,lightblue);
    background: linear-gradient(to bottom, lightblue, lightblue);
    font: normal normal bold 20px arial;
    color: black;
    text-decoration: none;
}
